doctype html
head
  title Charlie chasing Bucky. Summer, 2018.
  meta(name='viewport' content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')

  link(rel='stylesheet' type='text/css' href='css/styles.css' media='screen')
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
script(src='js/client.js')
